<ul class="breadcrumbs">
  <li class="breadcrumb-link"><a href="/home" data-navigo>Home</a></li>
  <li class="breadcrumb-separator"><span class="arrow">>></span></li>
  <li class="breadcrumb-link"><span>{{this.post.category}}</span></li>
  <li class="breadcrumb-separator"><span class="arrow">>></span></li>
  <li class="breadcrumb-link"><a href="/category/sub/{{this.post.subCategory}}/1" data-navigo>{{this.post.subCategory}}</a></li>
  <li class="breadcrumb-separator"><span class="arrow">>></span></li>
  <li class="breadcrumb-link"><span>{{this.post.title}}</span></li>
</ul>
<section class="post-details-main">
  <section class="post-details-container">
    <aside class="post-aside-container">
      <div class="post-category-container">
        <a class="category-link">{{this.post.subCategory}}</a>
      </div>
      <div class="post-widgets-container">
        <div class="widget">
          <h4 class="widget-header">Tags</h4>
          <ul class="widget-body tags-list">
            <li class="tag">TAG</li>
            <li class="tag">TAGTAG</li>
            <li class="tag">TAG</li>
            <li class="tag">TAGTAG</li>
            <li class="tag">TAGTAGTAG</li>
          </ul>
        </div>
        <div class="widget">
          <h4 class="widget-header">Related posts</h4>
          <ul class="widget-body related-posts-list">
            <li class="related-post"><span class="arrow">>></span> RELATED 1</li>
            <li class="related-post"><span class="arrow">>></span> RELATED 1</li>
            <li class="related-post"><span class="arrow">>></span> RELATED 1</li>
          </ul>
        </div>
        <div class="widget">
          <h4 class="widget-header">Share this</h4>
          <ul class="widget-body share-links-list">
            <li class="share-link">Link</li>
            <li class="share-link">Link</li>
            <li class="share-link">Link</li>
            <li class="share-link">Link</li>
          </ul>
        </div>
      </div>
    </aside>
    <article class="post-contents-container">
      <div class="post-contents-header">
        <h1 class="post-title"><a class="post-title-link">{{this.post.title}}</a></h1>
        <h2 class="post-meta">Posted by {{this.post.author}} in {{this.post.category}} >> {{this.post.subCategory}} | {{this.commentCount}} comment(s)</h2>
      </div>
      <div class="post-contents-body">
        {{#each this.post.content}}
        <p class="post-text-paragraph">{{this}}</p>
        {{/each}}
      </div>
    </article>
  </section>
  <div class="post-details-container-border-bottom"></div>
  <section class="post-comments-container">
    <h2 class="post-comments-header">{{this.commentCount}} Comment(s)</h2>
    <ul class="post-comments-body">
      {{#each this.post.comments}}
      <li class="post-comment">
        <div class="comment-aside">
          <p class="comment-created-at">{{created}}</p>
        </div>
        <div class="comment-main">
          <h4 class="comment-author">{{author}}</h4>
          <p class="comment-content">{{content}}</p>
        </div>
      </li>
      {{/each}}
    </ul>
    <h2 class="post-comments-header">Leave a comment</h2>
    <form id="comment-form" data-post-id={{this.post.id}}>
      <textarea class="comment-input" id="tb-comment-content" required/>
      <a class="comment-submit" id="btn-comment-create">Submit</a>
    </form>
  </section>
</section>
<aside class="side-widgets side-widgets-post">
  <div class="dummy-widget">
    <h3 class="widget-title">Recent comments</h3>
    <ul>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem consectetur adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem consectetur adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem consectetur adipiscing elit.</a></li>
    </ul>
  </div>
  <div class="dummy-widget">
    <h3 class="widget-title">Recent posts</h3>
    <ul>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem consectetur adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem consectetur adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><a href="#" class="widget-link"><span class="arrow">>></span>Lorem consectetur adipiscing elit.</a></li>
    </ul>
  </div>
</aside>