<ul class="breadcrumbs">
  {{#if this.allPosts}} {{else}}
  <li class="breadcrumb-link"><a href="/home" data-navigo>Home</a></li>
  <li class="breadcrumb-separator"><span class="arrow">>></span></li>
  <li class="breadcrumb-link"><span>{{this.category}}</span></li>
  <li class="breadcrumb-separator"><span class="arrow">>></span></li>
  <li class="breadcrumb-link"><span>{{this.subCategory}}</span></li>
  {{/if}}
</ul>
<section {{#if this.allPosts}}class="posts-list"{{else}}class="posts-list-trimmed"{{/if}}>
  {{#each this.postsList.posts}}
  <article class="post-container">
    <div class="post-categories-container">
      <h2 class="post-category" class="post-category"><a href="/category/sub/{{subCategory}}/1" class="post-category-link" data-navigo>{{subCategory}}</a></h3>
    </div>
    <div class="post-title-container">
      <h4><a href="/posts/{{id}}" class="post-title" data-navigo>{{title}}</a></h4>
      <p class="post-author">Posted by {{author}}</p>
    </div>
    <div class="post-content-container">
      <p class="post-content">{{content}}</p>
    </div>
  </article>
  {{/each}}
</section>
{{#if this.allPosts}} {{else}}
<aside class="side-widgets">
  <div class="dummy-widget">
    <h3 class="widget-title">Recent comments</h3>
    <ul>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem consectetur adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem consectetur adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem consectetur adipiscing elit.</a></li>
    </ul>
  </div>
  <div class="dummy-widget">
    <h3 class="widget-title">Recent posts</h3>
    <ul>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem consectetur adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem consectetur adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem ipsum dolor sit adipiscing elit.</a></li>
      <li><span class="arrow">>></span><a href="#" class="widget-link">Lorem consectetur adipiscing elit.</a></li>
    </ul>
  </div>
</aside>
{{/if}}